
<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("users.micropost.compose") %>
  </div>
  <%= f.submit t("users.post"), class: "btn btn-primary" %>
  <span class="picture">
   <%= f.file_field :picture, accept: Settings.post.picture.path %>
  </span>
<% end %>
<%= javascript_include_tag "check_picture_size" %>
